
.cadastroCaminhao{
    background-color: slategray;
    margin-top: 5%;
    padding: 3%;
    margin-left: 35%;
    width: 400px;
    border-radius: 5%;
}

.cadastroCarro{
    background-color: skyblue;
    margin-top: 5%;
    padding: 3%;
    margin-left: 35%;
    width: 400px;
    border-radius: 5%;
}

